@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
  margin: 0;
  padding: 0;
  background-color: #EEEEEE;
  -webkit-text-size-adjust: 100%;
}

.contentHeight {
  height: calc(100vh - 64px - 56px);
}

.locationsListHeight {
  height: calc(100vh - 64px - 56px - 60px);
}

.header {
  height: 64px;
}

.footer {
  height: 56px;
}
